

.blog-container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4a261;
}

.small-title-blog{
  text-align: center;
  margin-bottom: 20px;
}

.blog-container .content-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.blog-container .content-container .blog-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  align-items: center;  
  justify-content: center;  
}

.blog-container .content-container .blog-item img {
  max-width: 100%;  
  height: auto;
  margin: 0 auto; 
  margin-bottom: 20px; 
}

.blog-container .content-container .blog-item .text-container {
  font-size: 18px;  
  text-align: center;  
}

.blog-title {
  text-align: center;  
  margin-bottom: 50px;
}


@media (min-width: 1024px) {
  .blog-container {
    margin-top: 0;
    padding-top: 80px;
  }

  .blog-container .content-container .blog-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .blog-container .content-container .blog-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .blog-container .content-container .blog-item img {
    max-width: 85%;
  }

  .blog-container .content-container .blog-item .text-container {
    max-width: 40%;
    text-align: left;
    padding: 50px;
  }
}







