.user-info-container{
    background-color: #f4a261;
    padding-top: 100px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.user-info-button{
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 0px solid white;
    padding: 10px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50px);
} 

.user-info-button:hover{
    cursor: pointer;
    background-color: white;
}