.map-parent {
    height: 100vh;
}

.map-parent .map-container {
    height: 100vh;
}
   
.map-parent .map-form {
    position: fixed;
    top: 5em;
    left: 5em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 2em;
    padding: 25px;
    background-color: #00000064;
    border-radius: 30px;
    box-shadow: 10px 5px 10px rgb(0, 0, 0);
    z-index: 2;
    max-width: 275px;
    max-height: 420px;
}

.itinerary-container {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.itinerary-container h2 {
    font-size: 1.5em;
    text-align: center;
    color: white;
    margin-bottom: 1em;
}

.itinerary {
    font-family: sans-serif;
    height: 120px;
    overflow-Y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.361) rgba(0, 0, 0, 0.252); /* scroll thumb and track */
}

.itinerary__placeholder {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.itinerary::-webkit-scrollbar {
    width: 12px;  /* largeur de la scrollbar */
    border-radius: 20px;
}
  
.itinerary::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.252);  /* couleur de la piste */
    border-radius: 20px;
}
  
.itinerary::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.361);  /* couleur du pouce */
    border-radius: 20px;  /* arrondissement des angles */
}

.itinerary__name {
    font-family: sans-serif;
    font-size: 14px;
}
   

.itinerary li {
    position: relative;
    padding: 8px;
    color: black;
    list-style: none;
    border-radius: 4px;
    background-color: white;
    width : 100%;
    list-style: none;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
}

.itinerary .delete-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 0px solid black;
    transition: 0.5s;
}

.delete-btn:hover{
    background-color: red;
}

.close-svg {
    width: 30px;
}

.map-parent .btn {
    appearance: none;
    border: none;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.map-parent .btn.primary {
    background-color: #2A9D8F;
}

.map-parent .btn.cancel {
    background-color: #9f6462;
}

.map-parent .btn.accent {
    background-color: #F4A261;
}

.itinerary-modal {
    position: fixed;
    top: 5em;
    left: 5em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 2em;
    padding: 25px;
    background-color: #00000064;
    border-radius: 30px;
    box-shadow: 10px 5px 10px rgb(0, 0, 0);
    z-index: 2;
    max-width: 275px;
    max-height: 420px;
}

.itinerary-modal__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.itinerary-modal input {
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    padding: 5px 10px;
}

.map-popup {
    background-color: white;
    font-size: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}