.profil-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.user-info-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
}

.user-info-container p {
    margin: 0;
}

.modifier-button,
.deconnexion-button,
.supprimer-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff; 
    color: #ffffff; 
    border: none;
    border-radius: 5px; 
}

.modifier-button:hover,
.deconnexion-button:hover,
.supprimer-button:hover {
    background-color: #0056b3; 
}

.deconnexion-button {
    margin-top: 20px; 
    margin-bottom: 90px;
    font-size: 12px;
}

.supprimer-wrapper {
    width:100%;
    text-align: center;
}

.supprimer-button {
display: inline-block;
font-size: 12px;
margin-top: 210px;
}

.itineraire-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.itineraire-item {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 10px;
}

@media (max-width: 767px){
    .itineraire-container{
        flex-direction: column;
    }
    
    .itineraire-item {
        width: 100%
       
    }
}

