

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    
}

html{
    overflow-X: hidden;
}

body{
    overflow-X: hidden;
}

h1, h2, h3, h4{
    font-family: 'Dela Gothic One', cursive;

}

p{
    font-family: 'Poppins', sans-serif;
}